.gameContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 1em;
}

.gameArea {
  position: relative;
  display: inline-block;
  aspect-ratio: 16 / 9;
  max-height: 1080px;
  max-width: 95vw;
  border: solid 1px black;
  background-color: gray;
}

.waldoPic {
  width: 100%;
  max-width: 1920px;
  max-height: 100%;
  display: block;
}

.target {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid red;
}

.targetMenu {
  position: absolute;
  left: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

  animation: menuEnter 150ms ease-out forwards;
  transform-origin: top left;
}

.targetMenu ul li {
  border: 1px solid black;
  padding: 0 0.5em;
}

.disabled {
  opacity: 0.5;
}

@keyframes menuEnter {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
