.gameContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.gameArea {
  position: relative;
  width: 720px;
  height: 480px;
  border: solid 1px black;
  background-color: gray;
}

.target {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid red;
}

.targetMenu {
  position: absolute;
  left: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.targetMenu ul li {
  border: 1px solid black;
}