/* The Parent Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  flex-grow: 1;
  background-color: #547792;
  font-family: "Caveat", sans-serif;
}

.heading { 
  padding-bottom: 2rem;
  font-size: 5em;
  color: #EAE0CF;
  text-align: center;
}

.startButton {
  font-size: 3em;
  text-decoration: none;
  color: #EAE0CF;
  padding: 10px 30px 10px 20px;
  transition: transform 0.3s ease-in-out;

  border: 1px solid #EAE0CF;
  border-radius: 40px;
  display: flex;
}

.startButton:hover {
  transform: scale(1.1);
}

.secondHeading {
  font-size: 2.5em;
  color: #EAE0CF;
}

.characterList {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}

.headPic {
  height: 7rem;
  width: 7rem;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
}