.dialogBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.dialogContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem;
  background: #213448;
  color: white;
  border-radius: 8px;
  z-index: 11;
  font-size: 1.1em;
  border: 1px solid white;
}

.winForm {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.heading2 {
  padding: 0 0 0.5rem 0;
}

.biggerFont {
  font-size: larger;
  color: #e2c89c;
}

.nameInput {
  border-radius: 5px;
  padding: 0.2em;
}

.formSubmitButt {
  margin: 0.5rem 0 0 0;
  align-self: center;
  padding: 0.3em 0.5em; 
  cursor: pointer;
}

.button {
  padding: 0.3em 0.5em;  
  background: none;
  color: white;
  border: 2px solid #EAE0CF;
  border-radius: 5px;
}

.linkContainer {
  display: flex;
  justify-content: space-evenly;
}