.dialogBackdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px); /* optional */
  z-index: 10;
}

.dialogContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: white;
  border-radius: 8px;
  z-index: 11;
}

.winForm {
  display: flex;
  flex-direction: column;
}