.modalContainer {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 9999;
  pointer-events: none; 
}

.modal {
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(-20px);

  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.open {
  opacity: 1;
  transform: translateY(0);
}