header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5rem;
  background-color: #213448;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 10;
}

main {
  background-color: #547792;
}

.logo {
  font-size: 2rem;
}

.nav {
  display: flex;
  gap: 2em;
}

.link {
  text-decoration: none;
  color: white;
}