header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.logo {
  font-size: 2rem;
}

.nav {
  display: flex;
  gap: 2em;
}

.link {
  text-decoration: none;
  color: black;
}