header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 5rem;
  background-color: #213448;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 10;

  position: sticky;
  top: 0;
}

main {
  background-color: #547792;
}

.logo {
  font-size: 2rem;
  font-family: 'Caveat', sans-serif;
  font-size: 2.5em;
}

.nav {
  display: flex;
  gap: 2em;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.2s ease-in;
}

.link:hover {
  color: rgb(255, 245, 212);
}